/* sass base */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/partials\/_globalFooter\.scss}line{font-family:\000031}}
footer {
  color: #2f2f2b;
  font-size: 0.875em;
  text-align: center;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  transition-duration: 1.5s; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/partials\/_globalFooter\.scss}line{font-family:\000038}}
  footer li {
    display: inline-block;
    margin-right: 1.25rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/partials\/_globalFooter\.scss}line{font-family:\0000312}}
  footer:hover {
    color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\000035}}
html {
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\000038}}
body {
  color: black;
  background: black url(../img/cowset.jpg) center 50% fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover;
  font: 1em/1.4 sans-serif;
  height: 100%; }
  @media (min-width: 1600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\000038}}
    body {
      font-size: 1.5em; } }
  @media (min-width: 1024px) and (max-width: 1599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\000038}}
    body {
      font-size: 1em; } }
  @media (min-width: 768px) and (max-width: 1023px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\000038}}
    body {
      font-size: 0.7708em; } }
  @media (min-width: 600px) and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\000038}}
    body {
      font-size: 0.55em; } }
  @media (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\000038}}
    body {
      font-size: 0.3125em;
      -webkit-text-size-adjust: none; } }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\0000336}}
#pageWrapper {
  min-height: 100%;
  margin-bottom: -2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\0000340}}
#pageContent {
  width: 60em;
  margin: 0 auto;
  padding: 1em 0 3em; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\0000346}}
#pageContent > header {
  color: gainsboro;
  border: 3px solid gainsboro;
  border-width: 3px 0;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 0.4em;
  margin-bottom: 1.25rem;
  padding: 0 0.2em 0.2em;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
  text-align: right;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\0000360}}
h1, h2 {
  background: transparent;
  font-size: 1em;
  margin: 0 0 -0.2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\0000365}}
h2 {
  font-size: 0.5em;
  letter-spacing: 0.5em;
  margin-bottom: 0;
  margin-right: 0.5em;
  text-transform: lowercase; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\0000372}}
.cwsCarousel {
  height: 25em;
  background: gainsboro;
  position: relative;
  padding: 0 2em;
  margin-top: 3em; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\0000378}}
  .cwsCarousel .carousel {
    height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\0000381}}
  .cwsCarousel article {
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33%;
    padding: 0 0.2em;
    height: 100%;
    outline: 1px solid #000;
    overflow-y: auto;
    background: #a39d9f; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\0000393}}
  .cwsCarousel .multiple1 article {
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\0000397}}
  .cwsCarousel .multiple2 article {
    width: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003101}}
  .cwsCarousel .multiple3 article {
    width: 33.3333%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003105}}
  .cwsCarousel .multiple4 article {
    width: 25%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003108}}
  .cwsCarousel .cwsCprev, .cwsCarousel .cwsCnext {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2em;
    background-color: #666666;
    text-indent: -999px;
    white-space: nowrap;
    outline: 1px solid #000;
    overflow: hidden;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003121}}
  .cwsCarousel .cwsCprev:hover, .cwsCarousel .cwsCnext:hover, .cwsCarousel .cwsCprev:focus, .cwsCarousel .cwsCnext:focus {
    background-color: #999999;
    cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003125}}
  .cwsCarousel .cwsCprev.disabled, .cwsCarousel .cwsCnext.disabled, .cwsCarousel .cwsCprev.disabled:hover, .cwsCarousel .cwsCnext.disabled:hover, .cwsCarousel .cwsCprev.disabled:focus, .cwsCarousel .cwsCnext.disabled:focus {
    background-color: #d4d4d4;
    cursor: default; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003129}}
  .cwsCarousel .cwsCprev {
    left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003132}}
  .cwsCarousel .cwsCnext {
    right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003135}}
  .cwsCarousel .cwsCprev:after, .cwsCarousel .cwsCnext:after {
    content: " ";
    position: absolute;
    top: 50%;
    margin-top: -1em;
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-right: 1.3em solid #333333;
    border-bottom: 1em solid transparent;
    -webkit-transform: rotate(360deg); }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003147}}
  .cwsCarousel .cwsCprev:after {
    left: 0.25em; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003150}}
  .cwsCarousel .cwsCnext:after {
    right: 0.25em;
    border-right: none;
    border-left: 1.3em solid #333333; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003155}}
  .cwsCarousel .cwsCprev:hover:after, .cwsCarousel .cwsCnext:hover:after, .cwsCarousel .cwsCprev:focus:after, .cwsCarousel .cwsCnext:focus:after {
    border-right-color: #cccccc;
    border-left-color: #cccccc; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003159}}
  .cwsCarousel .disabled:after, .cwsCarousel .cwsCprev.disabled:hover:after, .cwsCarousel .cwsCnext.disabled:hover:after, .cwsCarousel .cwsCprev.disabled:focus:after, .cwsCarousel .cwsCnext.disabled:focus:after {
    border-right-color: #cccccc;
    border-left-color: #cccccc; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003164}}
#controls {
  position: absolute;
  top: -2em;
  padding-bottom: 3px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003169}}
#setMultipleControl, #setLangControl {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.25rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003173}}
  #setMultipleControl h4, #setMultipleControl ul, #setMultipleControl li, #setLangControl h4, #setLangControl ul, #setLangControl li {
    font-weight: normal;
    font-size: 0.85em;
    display: inline-block;
    vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003179}}
  #setMultipleControl li, #setLangControl li {
    cursor: pointer;
    margin-left: .3em; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003182}}
    #setMultipleControl li:hover, #setMultipleControl li.active, #setLangControl li:hover, #setLangControl li.active {
      color: #ff6600; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003185}}
    #setMultipleControl li.active, #setMultipleControl li.active:hover, #setLangControl li.active, #setLangControl li.active:hover {
      cursor: default; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003192}}
.cwsCarousel article {
  line-height: 1.3; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003195}}
.cwsCarousel article h3 {
  font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003198}}
.cwsCarousel article dd {
  margin-left: 0.625rem;
  margin-bottom: 0.625rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003202}}
.cwsCarousel article img {
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003207}}
#projects {
  background: #ccc;
  padding: 1.25rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003211}}
#projects h3 {
  font-weight: bold;
  margin-top: 1.25rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003216}}
.caveat {
  margin-bottom: 0.625rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003219}}
.caveat a {
  color: #333333; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003223}}
.carousel {
  position: relative;
  perspective: 900px;
  -webkit-perspective: 900px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003228}}
  .carousel article {
    transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 600ms ease-in;
    -moz-transition: all 600ms ease-in;
    -o-transition: all 600ms ease-in;
    -ms-transition: all 600ms ease-in;
    transition: all 600ms ease-in; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003241}}
  .carousel.forward article:last-child {
    transform: rotateY(50deg);
    -webkit-transform: rotateY(50deg);
    transition-delay: 50ms;
    -webkit-transition-delay: 50ms; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003247}}
  .carousel.forward article:nth-last-child(2) {
    transform: rotateY(40deg);
    -webkit-transform: rotateY(40deg);
    transition-delay: 400ms;
    -webkit-transition-delay: 400ms; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003253}}
  .carousel.forward article:nth-last-child(3) {
    transform: rotateY(30deg);
    -webkit-transform: rotateY(30deg);
    transition-delay: 800ms;
    -webkit-transition-delay: 800ms; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003259}}
  .carousel.forward article:nth-last-child(4) {
    transform: rotateY(20deg);
    -webkit-transform: rotateY(20deg);
    transition-delay: 1200ms;
    -webkit-transition-delay: 1200ms; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003266}}
  .carousel.back article:first-child {
    transform: rotateY(-50deg);
    -webkit-transform: rotateY(-50deg);
    transition-delay: 50ms;
    -webkit-transition-delay: 50ms; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003272}}
  .carousel.back article:nth-child(2) {
    transform: rotateY(-40deg);
    -webkit-transform: rotateY(-40deg);
    transition-delay: 400ms;
    -webkit-transition-delay: 400ms; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003278}}
  .carousel.back article:nth-child(3) {
    transform: rotateY(-30deg);
    -webkit-transform: rotateY(-30deg);
    transition-delay: 800ms;
    -webkit-transition-delay: 800ms; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003284}}
  .carousel.back article:nth-child(4) {
    transform: rotateY(-20deg);
    -webkit-transform: rotateY(-20deg);
    transition-delay: 1200ms;
    -webkit-transition-delay: 1200ms; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003291}}
  .carousel.enterLeft article {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003296}}
  .carousel.enterLeft article:first-child {
    transition-delay: 200ms;
    -webkit-transition-delay: 200ms; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003300}}
  .carousel.enterLeft article:nth-child(2) {
    transition-delay: 400ms;
    -webkit-transition-delay: 400ms; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003304}}
  .carousel.enterLeft article:nth-child(3) {
    transition-delay: 600ms;
    -webkit-transition-delay: 600ms; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003308}}
  .carousel.enterLeft article:nth-child(4) {
    transition-delay: 800ms;
    -webkit-transition-delay: 800ms; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003313}}
  .carousel.enterRight article {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003318}}
  .carousel.enterRight article:last-child {
    transition-delay: 200ms;
    -webkit-transition-delay: 200ms; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003322}}
  .carousel.enterRight article:nth-last-child(2) {
    transition-delay: 400ms;
    -webkit-transition-delay: 400ms; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003326}}
  .carousel.enterRight article:nth-last-child(3) {
    transition-delay: 600ms;
    -webkit-transition-delay: 600ms; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/PROJ\/CWSS\/dev\/sass\/screen_v42\.scss}line{font-family:\00003330}}
  .carousel.enterRight article:nth-last-child(4) {
    transition-delay: 800ms;
    -webkit-transition-delay: 800ms; }
