
@import "partials/normalize",
		"partials/base",
        "partials/globalFooter";

html {
    height: 100%;
}
body {
    color: $default_text_color;
	// $experimental-support-for-svg: true;
    //@include background-image(linear-gradient(#fff, #999));
	background: #000 url(../img/cowset.jpg) center 50% fixed no-repeat;
	//background: #999;
    -moz-background-size: cover;
    background-size: cover;	
    font: 1em/1.4 sans-serif;
    height: 100%;
	@include breakpoint(maxi) {
		font-size: 1.5em; 
	}
	@include breakpoint(midi) { 
		font-size: 1em; 
	}
	@include breakpoint(mini) { 
		font-size: 0.7708em; 
	}
	@include breakpoint(micro) { 
		font-size: 0.55em; 
	}
	@include breakpoint(nano) { 
		font-size: 0.3125em;
		-webkit-text-size-adjust: none;	// as it need to go below the 6px min... too small I know, just a quick test for now
	}
}

#pageWrapper {
	min-height: 100%;
	margin-bottom:-2em;
	overflow: hidden;
}
#pageContent {
    width: 60em;
    margin: 0 auto;
	padding: 1em 0 3em;
}
//global header
#pageContent > header {
    color: $secondary_color;
    border: 3px solid $secondary_color;
    border-width: 3px 0;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.4em;
    margin-bottom: $double_space;
    padding: 0 0.2em 0.2em;
    @include border-radius($small_radius);
    text-align: right;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 2em;
}
h1, h2 {
    background: transparent;
    font-size: 1em;
    margin:0 0 -0.2em;
}
h2 {
    font-size: 0.5em;
    letter-spacing: 0.5em;
    margin-bottom: 0;
    margin-right: 0.5em;
    text-transform: lowercase;
}
ol, ul {
	list-style: none;
	padding: 0;
	margin-top: 0;
}
.cwsCarousel {
	height: 25em;//test
    background: $secondary_color;
    position: relative;
    padding: 0 2em;
	margin-top: 2em;
	.carousel {
		height: 100%;
	}
	article {
		display: inline-block;
		vertical-align: top;
		@include box-sizing(border-box);
		width: 33.33%;// default
		padding: 0 0.2em;
		height: 100%;
		outline: 1px solid #000;
		overflow-y: auto;
		background: #a39d9f;
	}
	// one items
	.multiple1 article{
		width: 100%;
	}
	// two items
	.multiple2 article{
		width: 50%;
	}
	// three items
	.multiple3 article {
		width: 33.3333%;
	}
	// four items
	.multiple4 article {
		width: 25%;
	}
	.cwsCprev, .cwsCnext {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 2em;
		background-color: $control_background_color;
		text-indent: -999px;//ff bugs
		white-space: nowrap;
		outline: 1px solid #000;
		overflow: hidden;
		@include transition-property(background-color);
		@include transition-duration($short_time);
	}
	.cwsCprev:hover, .cwsCnext:hover, .cwsCprev:focus, .cwsCnext:focus {
		background-color: $control_background_hover_color;
		cursor: pointer;
	}
	.cwsCprev.disabled, .cwsCnext.disabled, .cwsCprev.disabled:hover, .cwsCnext.disabled:hover, .cwsCprev.disabled:focus, .cwsCnext.disabled:focus {
		background-color: $control_color_disabled_background;
		cursor: default;
	}
	.cwsCprev {
		left:0;
	}        
	.cwsCnext {
		right:0;
	}
	.cwsCprev:after, .cwsCnext:after {//generated triangles
		content: " ";
		position: absolute;
		top: 50%;
		margin-top: -1em;
		width: 0;
		height: 0;
		border-top: 1em solid transparent;
		border-right: 1.3em solid $control_color;
		border-bottom: 1em solid transparent;
		-webkit-transform: rotate(360deg);//hack for safari not antialiasing
	}
	.cwsCprev:after {
		left: 0.25em;
	}
	.cwsCnext:after {
		right: 0.25em;
		border-right: none;
		border-left: 1.3em solid $control_color;
	}
	.cwsCprev:hover:after, .cwsCnext:hover:after, .cwsCprev:focus:after, .cwsCnext:focus:after {
		border-right-color: $control_hover_color;
		border-left-color: $control_hover_color;
	}
	.disabled:after, .cwsCprev.disabled:hover:after, .cwsCnext.disabled:hover:after, .cwsCprev.disabled:focus:after, .cwsCnext.disabled:focus:after{
		border-right-color: $control_color_disabled;
		border-left-color: $control_color_disabled;
	}
}
#controls {
	position: absolute;
	top: -1.8em;
}
#setMultipleControl, #setLangControl{
	display: inline-block;
	vertical-align: middle;
	margin-right: $double_space;
	h4, ul, li {
		font-weight: normal;
		font-size: 0.85em;
		display: inline-block;
		vertical-align: middle;
		padding-left: 0;
		margin: 0;
	}
	li {
		cursor: pointer;
		margin-left:.3em;
		@include transition-property(color);
		@include transition-duration($short_time);		
		&:hover, &.active {
			color: $default_text_contrast_color;
		}
		&.active, &.active:hover {
			cursor: default;
		}
	}
}
#setMultipleControl{
	min-width: 14em;
}
// content areas... just some basics for now
.cwsCarousel {
	article {
		line-height: 1.3;
	}
	article h3 {
		font-weight: bold;
	}
	article dd {
		margin-left: $single_space;
		margin-bottom: $single_space;
	}
	article img {
		width: 100%;
	}
}
// #projects on non-js
#projects {
	background: #ccc;
	padding: $double_space;
}
#projects h3{
	font-weight: bold;
	margin-top: $double_space;
}
// some drivel
.caveat {
	margin-bottom: $single_space;
}
.caveat a {
	color: $control_color;
}
//transitions
.carousel{
	position: relative;
	perspective: 900px;
	-webkit-perspective: 900px;

	article{
		transform: rotateY(-20deg);
			-webkit-transform: rotateY(-20deg);
		transform-style: preserve-3d;
			-webkit-transform-style: preserve-3d;
		//@include opacity(0);
		@include prefix(backface-visibility, 'hidden');
		@include prefix(transition, 'all 600ms ease-in');		
	}

	//forward
	&.forward article:last-child{
		transform: rotateY(50deg) translateX(50%);
			-webkit-transform: rotateY(50deg) translateX(50%);
		transition-delay: 1200ms;
			-webkit-transition-delay: 1200ms;
	}
	&.forward article:nth-last-child(2){
		transform: rotateY(40deg) translateX(100%);
			-webkit-transform: rotateY(40deg) translateX(100%);
		transition-delay: 800ms;
			-webkit-transition-delay: 800ms;
	}
	&.forward article:nth-last-child(3){
		transform: rotateY(30deg) translateX(150%);
			-webkit-transform: rotateY(30deg) translateX(150%);
		transition-delay: 400ms;
			-webkit-transition-delay: 400ms;
	}
	&.forward article:nth-last-child(4){
		transform: rotateY(20deg) translateX(200%);
			-webkit-transform: rotateY(20deg) translateX(200%);
		transition-delay: 200ms;	
			-webkit-transition-delay: 200ms;	
	}
	//back
	&.back article:first-child{
		transform: rotateY(-50deg) translateX(-50%);
			-webkit-transform: rotateY(-50deg) translateX(-50%);
		transition-delay: 1200ms;
			-webkit-transition-delay: 1200ms;
	}
	&.back article:nth-child(2){
		transform: rotateY(-40deg) translateX(-100%);
			-webkit-transform: rotateY(-40deg) translateX(-100%);
		transition-delay: 400ms;
			-webkit-transition-delay: 400ms;
	}
	&.back article:nth-child(3){
		transform: rotateY(-30deg) translateX(-150%);
			-webkit-transform: rotateY(-30deg) translateX(-150%);
		transition-delay: 800ms;
			-webkit-transition-delay: 800ms;
	}
	&.back article:nth-child(4){
		transform: rotateY(-20deg) translateX(-200%);
			-webkit-transform: rotateY(-20deg) translateX(-200%);
		transition-delay: 1200ms;	
			-webkit-transition-delay: 1200ms;	
	}
	//enter left
	&.enterLeft article{
		transform: rotateY(0deg);
			-webkit-transform: rotateY(0deg);
		@include opacity(1);
	}
	&.enterLeft article:first-child{
		transition-delay: 200ms;
			-webkit-transition-delay: 200ms;
	}
	&.enterLeft article:nth-child(2){
		transition-delay: 400ms;
			-webkit-transition-delay: 400ms;
	}
	&.enterLeft article:nth-child(3){
		transition-delay: 600ms;
			-webkit-transition-delay: 600ms;
	}
	&.enterLeft article:nth-child(4){
		transition-delay: 800ms;
			-webkit-transition-delay: 800ms;
	}
	//enter right
	&.enterRight article{
		transform: rotateY(0deg);
			-webkit-transform: rotateY(0deg);
		@include opacity(1);
	}
	&.enterRight article:last-child{
		transition-delay: 200ms;
			-webkit-transition-delay: 200ms;
	}
	&.enterRight article:nth-last-child(2){
		transition-delay: 400ms;
			-webkit-transition-delay: 400ms;
	}
	&.enterRight article:nth-last-child(3){
		transition-delay: 600ms;
			-webkit-transition-delay: 600ms;
	}
	&.enterRight article:nth-last-child(4){
		transition-delay: 800ms;
			-webkit-transition-delay: 800ms;
	}

}