
@import "partials/normalize",
		"partials/base",
		"partials/globalFooter";

html {
	font: 1em/1.2 sans-serif;
	height: 100%;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	@include breakpoint(maxi) {
		font-size: 1.6em;
	}
	@include breakpoint(midi) { 
		font-size: 1em;
	}
	@include breakpoint(mini) { 
		font-size: 0.7708em; 
		.articleInner > *, #controls button, #controls h4, #intro{
			font-size: 1.333333em;
		}
		body > footer{
			font-size: 1.1em;
		}
	}
	@include breakpoint(micro) { 
		font-size: 0.55em; 
		.articleInner > *, #controls button, #controls h4, #intro{
			font-size: 1.777777em;
		}
		#controls.shown{
			top: -($phone_nav_height);
		}
		body > footer{
			font-size: 1.55em;
		}
	}
	@include breakpoint(nano) { 
		font-size: 0.5517em;
		.articleInner > *, #controls button, #controls h4, #intro{
			font-size: 1.7777em;
		}
		body{
			background-image: none;
			background-color: #999;
		}
		body > footer{
			position: fixed;
			background: #000;
			bottom: 0;
			padding: 2px;
			font-size: 1.3em;
		}
		#intro{
			z-index: 3;
		}
	}
	@include breakpoint(deviceLandscape) {
		//font-size: 1em;
		.articleInner > *{
			//font-size: 1.3em;
		}
	}
	@include breakpoint(devicePortrait) {
		//font-size: 1.3em;
		.articleInner > *{
			//font-size: 1.4em;
		}
	}

}
body {
	color: $default_text_color;
	background: #000 url(../img/cowset.jpg) no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;	
	height: 100%;
}
#pageContent {
	//@include prefix(transition, 'all 600ms ease-in');
	-webkit-tap-highlight-color: transparent;
	width: 60rem;
	position: absolute;
	top: 2rem;
	bottom: 2rem;
	left: 50%;
	margin-left: -30rem;
	@include breakpoint(micro) {
		top: 1rem;
		left: 1rem;
		right: 1rem;
		bottom: 4rem;
		width: auto;
		margin-left: 0;
	}
	@include breakpoint(nano) {
		top: 1rem;
		left: $article_gutter;
		right: $article_gutter;
		bottom: 2rem;
		width: auto;
		margin-left: 0;
		& > header{
			margin: 0 $article_gutter;
		}
	}
	@include breakpoint(devicePortrait) {
		top: 1rem;
		left: 1rem;
		right: 1rem;
		width: auto;
		margin-left: 0;
	}
	@include breakpoint(deviceLandscape) {
		top: 1rem;
		left: 1rem;
		right: 1rem;
		width: auto;
		margin-left: 0;
	}
}
//global header
#pageContent > header {
	color: $secondary_color;
	border: 0.1875rem solid $secondary_color;
	border-width: 0.1875rem 0;
	font-family: 'Orbitron', sans-serif;
	letter-spacing: 0.4rem;
	padding: 0 0.2rem 0.2rem;
	@include border-radius($small_radius);
	text-align: right;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1rem;
	@include breakpoint(deviceLandscape) {
		width: 54%;
		float: right;
	}
	h1, h2 {
		background: transparent;
		font-size: 2em;
		margin:0 0 -0.1em;
	}
	h2 {
		font-size: 1em;
		letter-spacing: 0.5em;
		margin-right: 1em;
		text-transform: lowercase;
	}
}
ol, ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#intro {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #000;
	color: #fff;
	background-color: #000;//ie8
	background-color: rgba(0, 0, 0, 0.8);
	@include border-radius($tiny_radius);
	padding: 7rem 4rem 1rem;
	z-index: 9;
	display: block;
	@include transition-property(all);
	@include transition-duration($medium_time);
	a {
		color: $link_on_dark_color;
		text-decoration: none;
	}
	img{
		float: left;
		margin: 0 $double_space $double_space 0;
	}
	p:nth-of-type(2){
		clear: both
	}
	.hide{
		position: absolute;
		top: 3rem;
		right: 2rem;
		padding: 1rem;
		color: $link_on_light_color;
		@include border-radius($tiny_radius);
		background-color: $control_background_color;
		&:hover{
			color: #fff;
			background-color: $control_background_hover_color;
			@include transition-property(all);
			@include transition-duration($short_time);	
		}
	}
	&.hidden{

		//@include opacity(0);
		//top:-112%;
		@include scale(0);
		display: none\9;//ie8 only hack
	}
	&.noTransition {
		-moz-transition: none;
		-webkit-transition: none;
		-o-transition: all 0 none;
		transition: none;
	}
}
.carouselWrap {
	position: absolute;	
	top: 6rem;
	@include breakpoint(micro) {
		top: 8rem;
	}
	@include breakpoint(deviceLandscape) {
		top: 4.5rem;
	}
	bottom: 0;
	left: 0;
	right: 0;
	background-color:#eee;//fallback rgb for ie8
	background-color: $secondary_background_color_rgba;
	@include border-radius($small_radius);
	.carousel {
		height: 100%;
		z-index: 3;
		overflow: hidden;
		margin: 0 $nav_tab_width_normal;
		padding: 0 $article_gutter;
	}
	article {
		display: inline-block;
		vertical-align: top;
		position: relative;
		@include box-sizing(border-box);	
		height: 100%;
		padding: 0.5rem 0;
		&:last-child > .articleInner{
			margin-right: 0;
		}		
	}
	// one items
	.multiple1 article {
		width: 100%;
	}
	// two items
	.multiple2 article {
		width: 50%;
	}
	// three items
	.multiple3 article {
		width: 33.333333%;
	}
	// four items
	.multiple4 article {
		width: 50%;
		height: 50%;
	}
	.articleInner {
		overflow-y: auto;
		overflow-x: hidden;
		margin-right: $article_gutter;		
		height: 100%;
		position: relative;
		background-color: #ddd; //fallback ie8
		background-color: $primary_background_color_rgba;
		//@include border-radius($tiny_radius);//is killing 3d transforms in ie? drop ie for now
		-webkit-border-radius: $tiny_radius;
		-moz-border-radius: $tiny_radius;
		padding-right: (2 * $article_gutter);
		border-right: $article_gutter solid $primary_background_color_rgba;
		border-left:none;
		border-bottom:none;
		border-top:none;
		-webkit-background-clip: padding-box;//will cause layers to crop to scrollbar on ie
		>*{
			margin: 0 (-$article_gutter) 0 $article_gutter;
		}
		> h3{
			margin: 0 (-$article_gutter) 1rem 0;
			padding: 0.1rem $article_gutter 0.12rem $article_gutter;
			font-weight: normal;
			color: $default_text_color;
			background-color: $secondary_color;
		}
		dd, dt {
			display: inline-block;
			margin: 0;
			margin-right: $inline_space_horiz;
		}
		dt:nth-child(1), dt:nth-child(3){
			font-weight: bold;
		}
		dd:nth-child(2), dd:nth-child(4){
			padding-bottom: $single_space;
		}
		img{
			margin: 0;
			width: 100%
		}
		.hero{
			//margin:0 -($article_gutter);
			height: 60px;
			overflow: hidden;
			img{
				//height:30em;
				//display:none;
			}
		}
	}
	//adjust for 4 items quad grid
	.multiple4 article:nth-child(-n+2) {
		padding-bottom: 0;
	}
	.multiple4 article:nth-child(even) .articleInner {
		margin-right: 0;
	}
	.cwsCprev, .cwsCnext {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 3rem;
		background-color: $control_background_color;
		text-indent: -999rem;
		white-space: nowrap;
		overflow: hidden;
		z-index: 1;
		@include transition-property(background-color);
		@include transition-duration($short_time);
	}
	//.cwsCprev:hover, .cwsCnext:hover, .cwsCprev:focus, .cwsCnext:focus {
	.cwsCprev:hover, .cwsCnext:hover {
		background-color: $control_background_hover_color;
		cursor: pointer;
	}
	//.cwsCprev.disabled, .cwsCnext.disabled, .cwsCprev.disabled:hover, .cwsCnext.disabled:hover, .cwsCprev.disabled:focus, .cwsCnext.disabled:focus {
	.cwsCprev.disabled, .cwsCnext.disabled, .cwsCprev.disabled:hover, .cwsCnext.disabled:hover{
		background-color: $control_color_disabled_background;
		cursor: default;
	}
	.cwsCprev {
		left: 0;
		@include border-left-radius($tiny_radius);
	}		 
	.cwsCnext {
		right: 0;
		@include border-right-radius($tiny_radius);
	}
	.cwsCprev:after, .cwsCnext:after {//generated triangles
		content: " ";
		position: absolute;
		top: 50%;
		margin-top: -1rem;
		width: 0;
		height: 0;
		border-top: 1rem solid transparent;
		border-right: 1.3rem solid $control_color;
		border-bottom: 1rem solid transparent;
	}
	.cwsCprev:after {
		left: 1rem;
	}
	.cwsCnext:after {
		right: 1rem;
		border-right: none;
		border-left: 1.3rem solid $control_color;
	}
	//.cwsCprev:hover:after, .cwsCnext:hover:after, .cwsCprev:focus:after, .cwsCnext:focus:after {
	.cwsCprev:hover:after, .cwsCnext:hover:after {
		border-right-color: $control_hover_color;
		border-left-color: $control_hover_color;
	}
	//.disabled:after, .cwsCprev.disabled:hover:after, .cwsCnext.disabled:hover:after, .cwsCprev.disabled:focus:after, .cwsCnext.disabled:focus:after{
	.disabled:after, .cwsCprev.disabled:hover:after, .cwsCnext.disabled:hover:after{
		border-right-color: $control_color_disabled;
		border-left-color: $control_color_disabled;
	}
	@include breakpoint(devicePortrait) {/* layout - override nav buttons to bottom on phone*/
		left: 0;
		right: 0;
		top: $nav_tab_height_phone;
		bottom: $nav_tab_height_phone;
		.carousel{
			margin: 0 $article_gutter;
			padding: 0;
		}
		.cwsCprev, .cwsCnext {
			top: auto;
			left: 0;
			bottom: -($nav_tab_height_phone);
			height: ($nav_tab_height_phone - (2 * $article_gutter));
			width: 50%;
		}
		.cwsCnext {
			right: 0;
			left: auto;
		}
		#intro{
			bottom: -($nav_tab_height_phone);
		}
	}
	@include breakpoint(nano) {
		position: relative;
		margin: 0 $article_gutter 5rem;
		top: $phone_nav_height + $nav_gutter;
		article{
			display: block;
			width: auto !important;
			margin-left: $article_gutter;
			margin-bottom: (2*$article_gutter);
		}
		#intro, #intro.hidden{
			position: relative;
			display:block;
			@include opacity(1);
			top:0;
			@include scale(1);
			padding: 1rem;
			.hide{
				display: none;
			}
		}
	}
	@include breakpoint(mini) {
		//top: $phone_nav_height + $nav_gutter;
	}

}

#setMultipleControl, #setLangControl, #toggleIntro{
	display: inline-block;
	vertical-align: middle;
	margin-right: $single_space;
	height: 100%;
	h4, ul, li {
		font-weight: normal;
		display: inline-block;
		vertical-align: middle;
		height: 100%;
		padding-left: 0;
		margin: 0;
	}
	h4{
		height: auto;
		margin-right: $button_gutter/2;
	}
	button {
		cursor: pointer;
		margin-right: $button_gutter;
		padding: 0 $button_gutter;
		height: 100%;
		line-height: $controls_height;
		border: none;
		outline: none;
		background-color: $nav_button_bgcolor;
		@include border-top-radius($tiny_radius);
		@include transition-property(all);
		@include transition-duration($short_time);			
		&:hover, &.active {
			color: $nav_button_text_hover_color;
			background-color: $nav_button_hover_bgcolor;
		}
		&.active, &.active:hover {
			cursor: default;
		}
	}
}

#controls {
	position: absolute;
	top: 0;
	bottom: 100%;
	z-index: 0;
	overflow: hidden;
	@include transition-property(top);
	@include transition-duration($short_time);
	@include transition-delay($short_time);	
	&.shown{
		top: -($controls_height);
	}
	ul{
		@include transition-property(height);
		@include transition-duration($short_time);		
	}

	@include breakpoint(devicePortrait){
		top: 0;
		z-index: 4;
		&.shown{
			top: -($phone_nav_height);
			overflow: visible;
		}
		ul{
			height: 0;
			position: absolute;
			left: 0;
			top: $phone_nav_height;
			width: 100%;
			li{
				display: block;
				button{
					@include border-radius(0);
				}
			}
			&.open{
				height: 100%;
			}

		}
		h4{
			cursor: pointer;
			padding: 0 $button_gutter;
			line-height: $phone_nav_height;
			border: none;
			display: block;
			background-color: $nav_button_bgcolor;
			@include border-top-radius($tiny_radius);
			@include transition-property(all);
			@include transition-duration($short_time);
			@include transition-delay($short_time);
			height: 0;
			overflow: hidden;				
			&:hover, &.active {
				color: $nav_button_text_hover_color;
				background-color: $nav_button_hover_bgcolor;
			}
			&.active, &.active:hover {
				cursor: default;
			}
		}
		&.shown h4{
			height: 100%;
		}
		button{
			line-height: $phone_nav_height;
			width: 100%;
			overflow: hidden;
		}
	}
	@include breakpoint(micro){
		top: 0;
		z-index: 4;
		&.shown{
			top: -($phone_nav_height);
			overflow: visible;
		}
		ul{
			height: 0;
			position: absolute;
			left: 0;
			top: $phone_nav_height;
			width: 100%;
			li{
				display: block;
				button{
					@include border-radius(0);
				}
			}
			&.open{
				height: 100%;
			}

		}
		h4{
			cursor: pointer;
			padding: 0 $button_gutter;
			line-height: $phone_nav_height;
			border: none;
			display: block;
			height: 0;
			overflow: hidden;
			background-color: $nav_button_bgcolor;
			@include border-top-radius($tiny_radius);
			@include transition-property(all);
			@include transition-duration($short_time);
			@include transition-delay($short_time);		
			&:hover, &.active {
				color: $nav_button_text_hover_color;
				background-color: $nav_button_hover_bgcolor;
			}
			&.active, &.active:hover {
				cursor: default;
			}
		}
		&.shown h4{
			height: 100%;
		}
		button{
			line-height: $phone_nav_height;
			width: 100%;
			overflow:hidden;
		}
	}
	@include breakpoint(nano){
		top: -($phone_nav_height);
		z-index: 4;
		overflow: visible;
		&.shown{
			top: -($phone_nav_height);
			overflow: visible;
		}
		ul{
			height: 0;
			position: absolute;
			left: 0;
			top: $phone_nav_height;
			width: 100%;
			li{
				display: block;
				button{
					@include border-radius(0);
				}
			}
			&.open{
				height: 100%;
			}

		}
		h4{
			cursor: pointer;
			padding: 0 $button_gutter;
			line-height: $phone_nav_height;
			border: none;
			display: block;
			height: 100%;
			overflow: hidden;
			background-color: $nav_button_bgcolor;
			@include border-top-radius($tiny_radius);
			@include transition-property(all);
			@include transition-duration($short_time);
			@include transition-delay($short_time);		
			&:hover, &.active {
				color: $nav_button_text_hover_color;
				background-color: $nav_button_hover_bgcolor;
			}
			&.active, &.active:hover {
				cursor: default;
			}
		}
		&.shown h4{
			height: 100%;
		}
		button{
			line-height: $phone_nav_height;
			width: 100%;
			overflow:hidden;
		}
		#toggleIntro{
			display: none;
		}
	}

}

// #projects on non-js page
#projects {
	background: #ccc;
	padding: $double_space;
}
#projects h3{
	font-weight: bold;
	margin-top: $double_space;
}

//transitions
.carousel{
	position: relative;
	-webkit-perspective: 900px;
	perspective: 900px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;

	article{
		//perspective: 900px;//req for ie bug here as well as above el	?
		//-webkit-transform-style: preserve-3d;
		//-moz-transform-style: preserve-3d;
		//transform-style: preserve-3d;
		@include prefix(backface-visibility, 'hidden');
		@include prefix(transition, 'all 600ms ease-in');
	}
	.articleInner{
		@include prefix(backface-visibility, 'hidden');
	}

	//forward
	&.forward article:last-child{
		-webkit-transform: rotateY(50deg) translateX(50%);
		transform: rotateY(50deg) translateX(50%);
	}
	&.forward article:nth-last-child(2){
		-webkit-transform: rotateY(40deg) translateX(100%);
		transform: rotateY(40deg) translateX(100%);
	}
	&.forward article:nth-last-child(3){
		-webkit-transform: rotateY(30deg) translateX(150%);
		transform: rotateY(30deg) translateX(150%);
	}
	&.forward article:nth-last-child(4){
		-webkit-transform: rotateY(20deg) translateX(200%);
		transform: rotateY(20deg) translateX(200%);
	}
	//back
	&.back article:first-child{
		-webkit-transform: rotateY(-50deg) translateX(-50%);
		transform: rotateY(-50deg) translateX(-50%);
	}
	&.back article:nth-child(2){
		-webkit-transform: rotateY(-40deg) translateX(-100%);
		transform: rotateY(-40deg) translateX(-100%);
	}
	&.back article:nth-child(3){
		-webkit-transform: rotateY(-30deg) translateX(-150%);
		transform: rotateY(-30deg) translateX(-150%);
	}
	&.back article:nth-child(4){
		-webkit-transform: rotateY(-20deg) translateX(-200%);
		transform: rotateY(-20deg) translateX(-200%);
	}

	&.noTransition article {
		-moz-transition: none;
		-webkit-transition: none;
		-o-transition: all 0 none;
		transition: none;
	}
/*	&.noDelay article {
		-moz-transition-delay: 0;
		-webkit-transition-delay: 0;
		-o-transition-delay: 0;
		transition-delay: 0;
	}*/

}


//content styling

h6, h5, h4, h3, h2{
	font-size: 1em;
	margin-bottom: 0;
	+p{
		margin-top: 0;
	}
}
h6, h5, h4, h3, h2, p, ul, dl{
	max-height: 1000000px;//fixhack chrome mobile unwanted font boosting
}
p{
	margin-top: 0;
}
ul{
	margin: 1rem;
	list-style-type: square;
	list-style-position: outside;
}
.projImages ul, .projLinks ul{
	margin: 0;
	list-style: none;
}

/* utility temp */

#breakpoint_debug{
	position:absolute;
	display:none;
	top:0.5rem;
	font-size:1.5rem;
	@include breakpoint(maxi) {
		.maxi{color: $default_text_contrast_color;}
	}
	@include breakpoint(midi) {
		.midi{color: $default_text_contrast_color;}
	}
	@include breakpoint(mini) {
		.mini{color: $default_text_contrast_color;}
	}
	@include breakpoint(micro) {
		.micro{color: $default_text_contrast_color;}
	}
	@include breakpoint(nano) {
		.nano{color: $default_text_contrast_color;}
	}
	@include breakpoint(devicePortrait) {
		.devicePortrait{color: $default_text_contrast_color;}
	}
	@include breakpoint(deviceLandscape) {
		.deviceLandscape{color: $default_text_contrast_color;}
	}
}