/* sass base */
@import "compass/css3";
		//"compass/utilities";

// colours
$default_text_color: #000;//default  eg body text
$default_text_contrast_color: #f60;//orange eg links

$primary_color: #999;
$secondary_color: #dcdcdc;

$primary_background_color_rgba: rgba(200, 200, 211, 0.6);
$secondary_background_color_rgba: rgba(10, 30, 110, 0.4);

$control_color: #333;
$control_hover_color: #ccc;
$control_background_color: #666;
$control_background_hover_color: #999;
$control_color_disabled: #575757;//caret
$control_color_disabled_background: #2e2e2e;

$single_space: 0.625em;
$double_space: 1.25em;
$inline_space_horiz: 0.25em;

$tiny_radius: 0.5rem;
$small_radius: 1rem;
$medium_radius: 1.5625rem;

$article_gutter: 0.5em;
$article_gutter_rem: 0.5rem;

$nav_tab_width_normal: 3rem;
$nav_tab_height_phone: 7em;

$short_time: .5s;
$medium_time: 2s;
$long_time: 6s;

// breakpoints
@mixin breakpoint($point) {
	@if $point == maxi {
		@media only screen 
		and (min-width: 1824px) 
			{ @content; }
	}
	@else if $point == midi {
		@media screen 
		and (min-width: 1024px) 
		and (max-width: 1823px) 
			{ @content; }
	}
	@else if $point == mini {
		@media screen 
		and (min-width: 768px) 
		and (max-width: 1023px) 
			{ @content; }
	}
	@else if $point == micro {
		@media screen 
		and (min-width: 321px) 
		and (max-width: 767px)  
			{ @content; }
	}
	@else if $point == nano {
		@media screen 
		and (max-width: 320px)
			{ @content; }
	}
	@else if $point == deviceLandscape {
		@media screen 
		and (orientation: landscape) 
		and (max-device-width: 1000px)  
			{ @content; }
	}
	@else if $point == devicePortrait {
		@media screen 
		and (orientation: portrait) 
		and (max-device-width: 1000px)  
			{ @content; }
	}
}

//prefix for vendors
//useage: @include prefix(transition, "color #{$animation-speed} linear, margin-left #{$animation-speed} linear");
$prefixes: ('-webkit-','-moz-', '-o-', '-ms-', '');
@mixin prefix($property, $value) { 
	@each $prefix in $prefixes {
		#{$prefix}#{$property}: #{$value};
	}
}

article{
	/* custom scrollbars webkit */
	::-webkit-scrollbar {
		width: 12px;
		margin-top:20px;
	}
	 
	/* Track */
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
		-webkit-border-radius: 10px;
		border-radius: 10px;
		margin: $article_gutter 0;
	}
	 
	/* Handle */
	::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background: rgba(55,55,100,0.5); 
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}
	::-webkit-scrollbar-thumb:window-inactive {
		background: rgba(55,55,100,0.3); 
	}
	/* ie scrollbars */
	scrollbar-face-color: #585a79;
	scrollbar-3dlight-color: #4f5177;
	scrollbar-highlight-color: #343559;
	scrollbar-track-color: #736c82;
	scrollbar-arrow-color: #736c82;
	scrollbar-shadow-color: #404159;
	scrollbar-dark-shadow-color: #171b3c;	
}
