footer { 
	color: #2f2f2b;
	font-size: 0.875em;
	text-align: center;
	//@include opacity(0.3);
	@include transition-property(color);
	@include transition-duration(1.5s);
	li {
		display: inline-block;
		margin-right: $double_space;
	}
	&:hover {
		color:#fff;
	}
}