footer {
	position: fixed;
	bottom: 0.5rem;
	color: #2f2f2b;
	font-size: 0.875rem;
	text-align: center;
	width: 100%;
	@include transition-property(color);
	@include transition-duration(1.5s);
	ul{
		margin: 0;
		height: 100%;
	}
	li {
		display: inline-block;
		vertical-align: middle;
		margin-right: $double_space;
	}
	&:hover {
		color: #fff;
	}
	.touch & {
		color: #999;	
	}
}