footer { 
	position: absolute;
	bottom: 0;
	color: #2f2f2b;
	font-size: 0.875rem;
	text-align: center;
	width: 100%;
	@include breakpoint(deviceLandscape) {
		min-height: 2.5em;
	}
	@include transition-property(color);
	@include transition-duration(1.5s);
	ul{
		margin: 0 0 $article_gutter 0;
	}
	li {
		display: inline-block;
		margin-right: $double_space;
	}
	&:hover {
		color: #fff;
	}
	.touch & {
		color: #999;	
	}
}